{{ define "main" }}

<div class="columns">
    <div class="column is-9">
        <div class="tile is-child box">
          <p class="subtitle is-size-6 has-text-grey-light">
          {{ .Params.Author }} &middot;&nbsp; Added on {{ .Date.Format "January 2, 2006" }} &middot;
          <i class="far fa-clock"></i>&nbsp;{{.ReadingTime}} min read 
          </p><hr/>
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>
    <div class="column is-3">
        {{ partial "widget-tags.html" . }}<br>
        {{ partial "widget-recent.html" . }}<br>
        {{ partial "widget-archives.html" . }}
    </div>
</div>

{{ end }}
